<%= form_for(@response_domain_text) do |f| %>
  <% if @response_domain_text.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response_domain_text.errors.count, "error") %> prohibited this response_domain_text from being saved:</h2>

      <ul>
      <% @response_domain_text.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :label %><br>
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :maxlen %><br>
    <%= f.number_field :maxlen %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
