<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @response_domain_text.label %>
</p>

<p>
  <strong>Maxlen:</strong>
  <%= @response_domain_text.maxlen %>
</p>

<%= link_to 'Edit', edit_response_domain_text_path(@response_domain_text) %> |
<%= link_to 'Back', response_domain_texts_path %>
