<%= form_for(@response_domain_code) do |f| %>
  <% if @response_domain_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response_domain_code.errors.count, "error") %> prohibited this response_domain_code from being saved:</h2>

      <ul>
      <% @response_domain_code.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code_list_id %><br>
    <%= f.text_field :code_list_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
