<td><%= numeric_type %></td>
<td><%= label %></td>
<td><%= min %></td>
<td><%= max %></td>

<td><a href="#/<%= id %>">Show</a></td>
<td><a href="#/<%= id %>/edit">Edit</a></td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>
