<%= form_for(@question_grid) do |f| %>
  <% if @question_grid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_grid.errors.count, "error") %> prohibited this question_grid from being saved:</h2>

      <ul>
      <% @question_grid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :label %><br>
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :literal %><br>
    <%= f.text_field :literal %>
  </div>
  <div class="field">
    <%= f.label :instruction_id %><br>
    <%= f.text_field :instruction_id %>
  </div>
  <div class="field">
    <%= f.label :vertical_code_list_id %><br>
    <%= f.text_field :vertical_code_list_id %>
  </div>
  <div class="field">
    <%= f.label :horizontal_code_list_id %><br>
    <%= f.text_field :horizontal_code_list_id %>
  </div>
  <div class="field">
    <%= f.label :roster_rows %><br>
    <%= f.number_field :roster_rows %>
  </div>
  <div class="field">
    <%= f.label :roster_label %><br>
    <%= f.text_field :roster_label %>
  </div>
  <div class="field">
    <%= f.label :corner_label %><br>
    <%= f.text_field :corner_label %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
