<p id="notice"><%= notice %></p>

<h1>Listing Question Grids</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th>Literal</th>
      <th>Instruction</th>
      <th>Vertical code list</th>
      <th>Horizontal code list</th>
      <th>Roster rows</th>
      <th>Roster label</th>
      <th>Corner label</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_grids.each do |question_grid| %>
      <tr>
        <td><%= question_grid.label %></td>
        <td><%= question_grid.literal %></td>
        <td><%= question_grid.instruction %></td>
        <td><%= question_grid.vertical_code_list %></td>
        <td><%= question_grid.horizontal_code_list %></td>
        <td><%= question_grid.roster_rows %></td>
        <td><%= question_grid.roster_label %></td>
        <td><%= question_grid.corner_label %></td>
        <td><%= link_to 'Show', question_grid %></td>
        <td><%= link_to 'Edit', edit_question_grid_path(question_grid) %></td>
        <td><%= link_to 'Destroy', question_grid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question grid', new_question_grid_path %>
