<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @question_grid.label %>
</p>

<p>
  <strong>Literal:</strong>
  <%= @question_grid.literal %>
</p>

<p>
  <strong>Instruction:</strong>
  <%= @question_grid.instruction %>
</p>

<p>
  <strong>Vertical code list:</strong>
  <%= @question_grid.vertical_code_list %>
</p>

<p>
  <strong>Horizontal code list:</strong>
  <%= @question_grid.horizontal_code_list %>
</p>

<p>
  <strong>Roster rows:</strong>
  <%= @question_grid.roster_rows %>
</p>

<p>
  <strong>Roster label:</strong>
  <%= @question_grid.roster_label %>
</p>

<p>
  <strong>Corner label:</strong>
  <%= @question_grid.corner_label %>
</p>

<%= link_to 'Edit', edit_question_grid_path(@question_grid) %> |
<%= link_to 'Back', question_grids_path %>
