<h1>Edit question_grid</h1>

<form id="edit-question_grid" name="question_grid">
  <div class="field">
    <label for="label"> label:</label>
    <input type="text" name="label" id="label" value="<%= label %>" >
  </div>

  <div class="field">
    <label for="literal"> literal:</label>
    <input type="text" name="literal" id="literal" value="<%= literal %>" >
  </div>

  <div class="field">
    <label for="instruction"> instruction:</label>
    <input type="text" name="instruction" id="instruction" value="<%= instruction %>" >
  </div>

  <div class="field">
    <label for="vertical_code_list"> vertical_code_list:</label>
    <input type="text" name="vertical_code_list" id="vertical_code_list" value="<%= vertical_code_list %>" >
  </div>

  <div class="field">
    <label for="horizontal_code_list"> horizontal_code_list:</label>
    <input type="text" name="horizontal_code_list" id="horizontal_code_list" value="<%= horizontal_code_list %>" >
  </div>

  <div class="field">
    <label for="roster_rows"> roster_rows:</label>
    <input type="text" name="roster_rows" id="roster_rows" value="<%= roster_rows %>" >
  </div>

  <div class="field">
    <label for="roster_label"> roster_label:</label>
    <input type="text" name="roster_label" id="roster_label" value="<%= roster_label %>" >
  </div>

  <div class="field">
    <label for="corner_label"> corner_label:</label>
    <input type="text" name="corner_label" id="corner_label" value="<%= corner_label %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Question grid" />
  </div>

</form>

<a href="#/index">Back</a>
