<td><%= label %></td>
<td><%= literal %></td>
<td><%= instruction %></td>
<td><%= vertical_code_list %></td>
<td><%= horizontal_code_list %></td>
<td><%= roster_rows %></td>
<td><%= roster_label %></td>
<td><%= corner_label %></td>

<td><a href="#/<%= id %>">Show</a></td>
<td><a href="#/<%= id %>/edit">Edit</a></td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>
