<p>
  <b>Label:</b>
  <%= label %>
</p>

<p>
  <b>Literal:</b>
  <%= literal %>
</p>

<p>
  <b>Instruction:</b>
  <%= instruction %>
</p>

<p>
  <b>Vertical code list:</b>
  <%= vertical_code_list %>
</p>

<p>
  <b>Horizontal code list:</b>
  <%= horizontal_code_list %>
</p>

<p>
  <b>Roster rows:</b>
  <%= roster_rows %>
</p>

<p>
  <b>Roster label:</b>
  <%= roster_label %>
</p>

<p>
  <b>Corner label:</b>
  <%= corner_label %>
</p>


<a href="#/index">Back</a>
