<%= form_for(@response_domain_datetime) do |f| %>
  <% if @response_domain_datetime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response_domain_datetime.errors.count, "error") %> prohibited this response_domain_datetime from being saved:</h2>

      <ul>
      <% @response_domain_datetime.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :datetime_type %><br>
    <%= f.text_field :datetime_type %>
  </div>
  <div class="field">
    <%= f.label :label %><br>
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :format %><br>
    <%= f.text_field :format %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
