<p id="notice"><%= notice %></p>

<p>
  <strong>Datetime type:</strong>
  <%= @response_domain_datetime.datetime_type %>
</p>

<p>
  <strong>Label:</strong>
  <%= @response_domain_datetime.label %>
</p>

<p>
  <strong>Format:</strong>
  <%= @response_domain_datetime.format %>
</p>

<%= link_to 'Edit', edit_response_domain_datetime_path(@response_domain_datetime) %> |
<%= link_to 'Back', response_domain_datetimes_path %>
