<%= form_for(@cc_question) do |f| %>
  <% if @cc_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cc_question.errors.count, "error") %> prohibited this cc_question from being saved:</h2>

      <ul>
      <% @cc_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.text_field :question_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
