<p id="notice"><%= notice %></p>

<h1>Listing Response Units</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @response_units.each do |response_unit| %>
      <tr>
        <td><%= response_unit.label %></td>
        <td><%= link_to 'Show', response_unit %></td>
        <td><%= link_to 'Edit', edit_response_unit_path(response_unit) %></td>
        <td><%= link_to 'Destroy', response_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Response unit', new_response_unit_path %>
