<%= form_for(@response_domain_numeric) do |f| %>
  <% if @response_domain_numeric.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response_domain_numeric.errors.count, "error") %> prohibited this response_domain_numeric from being saved:</h2>

      <ul>
      <% @response_domain_numeric.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numeric_type %><br>
    <%= f.text_field :numeric_type %>
  </div>
  <div class="field">
    <%= f.label :label %><br>
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :min %><br>
    <%= f.text_field :min %>
  </div>
  <div class="field">
    <%= f.label :max %><br>
    <%= f.text_field :max %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
