<p id="notice"><%= notice %></p>

<h1>Listing Response Domain Numerics</h1>

<table>
  <thead>
    <tr>
      <th>Numeric type</th>
      <th>Label</th>
      <th>Min</th>
      <th>Max</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @response_domain_numerics.each do |response_domain_numeric| %>
      <tr>
        <td><%= response_domain_numeric.numeric_type %></td>
        <td><%= response_domain_numeric.label %></td>
        <td><%= response_domain_numeric.min %></td>
        <td><%= response_domain_numeric.max %></td>
        <td><%= link_to 'Show', response_domain_numeric %></td>
        <td><%= link_to 'Edit', edit_response_domain_numeric_path(response_domain_numeric) %></td>
        <td><%= link_to 'Destroy', response_domain_numeric, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Response domain numeric', new_response_domain_numeric_path %>
