<p id="notice"><%= notice %></p>

<p>
  <strong>Numeric type:</strong>
  <%= @response_domain_numeric.numeric_type %>
</p>

<p>
  <strong>Label:</strong>
  <%= @response_domain_numeric.label %>
</p>

<p>
  <strong>Min:</strong>
  <%= @response_domain_numeric.min %>
</p>

<p>
  <strong>Max:</strong>
  <%= @response_domain_numeric.max %>
</p>

<%= link_to 'Edit', edit_response_domain_numeric_path(@response_domain_numeric) %> |
<%= link_to 'Back', response_domain_numerics_path %>
