<td><%= loop_var %></td>
<td><%= start_val %></td>
<td><%= end_val %></td>
<td><%= loop_while %></td>

<td><a href="#/<%= id %>">Show</a></td>
<td><a href="#/<%= id %>/edit">Edit</a></td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>
