<%= form_for(@cc_loop) do |f| %>
  <% if @cc_loop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cc_loop.errors.count, "error") %> prohibited this cc_loop from being saved:</h2>

      <ul>
      <% @cc_loop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :loop_var %><br>
    <%= f.text_field :loop_var %>
  </div>
  <div class="field">
    <%= f.label :start_val %><br>
    <%= f.text_field :start_val %>
  </div>
  <div class="field">
    <%= f.label :end_val %><br>
    <%= f.text_field :end_val %>
  </div>
  <div class="field">
    <%= f.label :loop_while %><br>
    <%= f.text_field :loop_while %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
