<p id="notice"><%= notice %></p>

<h1>Listing Cc Loops</h1>

<table>
  <thead>
    <tr>
      <th>Loop var</th>
      <th>Start val</th>
      <th>End val</th>
      <th>Loop while</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cc_loops.each do |cc_loop| %>
      <tr>
        <td><%= cc_loop.loop_var %></td>
        <td><%= cc_loop.start_val %></td>
        <td><%= cc_loop.end_val %></td>
        <td><%= cc_loop.loop_while %></td>
        <td><%= link_to 'Show', cc_loop %></td>
        <td><%= link_to 'Edit', edit_cc_loop_path(cc_loop) %></td>
        <td><%= link_to 'Destroy', cc_loop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cc loop', new_cc_loop_path %>
