<p id="notice"><%= notice %></p>

<p>
  <strong>Loop var:</strong>
  <%= @cc_loop.loop_var %>
</p>

<p>
  <strong>Start val:</strong>
  <%= @cc_loop.start_val %>
</p>

<p>
  <strong>End val:</strong>
  <%= @cc_loop.end_val %>
</p>

<p>
  <strong>Loop while:</strong>
  <%= @cc_loop.loop_while %>
</p>

<%= link_to 'Edit', edit_cc_loop_path(@cc_loop) %> |
<%= link_to 'Back', cc_loops_path %>
