<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @code.value %>
</p>

<p>
  <strong>Order:</strong>
  <%= @code.order %>
</p>

<p>
  <strong>Code list:</strong>
  <%= @code.code_list %>
</p>

<p>
  <strong>Category:</strong>
  <%= @code.category %>
</p>

<%= link_to 'Edit', edit_code_path(@code) %> |
<%= link_to 'Back', codes_path %>
