<%= form_for(@question_item) do |f| %>
  <% if @question_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_item.errors.count, "error") %> prohibited this question_item from being saved:</h2>

      <ul>
      <% @question_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :label %><br>
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :literal %><br>
    <%= f.text_field :literal %>
  </div>
  <div class="field">
    <%= f.label :instruction_id %><br>
    <%= f.text_field :instruction_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
