<p id="notice"><%= notice %></p>

<h1>Listing Question Items</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th>Literal</th>
      <th>Instruction</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_items.each do |question_item| %>
      <tr>
        <td><%= question_item.label %></td>
        <td><%= question_item.literal %></td>
        <td><%= question_item.instruction %></td>
        <td><%= link_to 'Show', question_item %></td>
        <td><%= link_to 'Edit', edit_question_item_path(question_item) %></td>
        <td><%= link_to 'Destroy', question_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question item', new_question_item_path %>
