<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @question_item.label %>
</p>

<p>
  <strong>Literal:</strong>
  <%= @question_item.literal %>
</p>

<p>
  <strong>Instruction:</strong>
  <%= @question_item.instruction %>
</p>

<%= link_to 'Edit', edit_question_item_path(@question_item) %> |
<%= link_to 'Back', question_items_path %>
