<p id="notice"><%= notice %></p>

<h1>Listing Cc Sequences</h1>

<table>
  <thead>
    <tr>
      <th>Literal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cc_sequences.each do |cc_sequence| %>
      <tr>
        <td><%= cc_sequence.literal %></td>
        <td><%= link_to 'Show', cc_sequence %></td>
        <td><%= link_to 'Edit', edit_cc_sequence_path(cc_sequence) %></td>
        <td><%= link_to 'Destroy', cc_sequence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cc sequence', new_cc_sequence_path %>
