<%= form_for(@cc_condition) do |f| %>
  <% if @cc_condition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cc_condition.errors.count, "error") %> prohibited this cc_condition from being saved:</h2>

      <ul>
      <% @cc_condition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :literal %><br>
    <%= f.text_field :literal %>
  </div>
  <div class="field">
    <%= f.label :logic %><br>
    <%= f.text_field :logic %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
