<p id="notice"><%= notice %></p>

<h1>Listing Cc Conditions</h1>

<table>
  <thead>
    <tr>
      <th>Literal</th>
      <th>Logic</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cc_conditions.each do |cc_condition| %>
      <tr>
        <td><%= cc_condition.literal %></td>
        <td><%= cc_condition.logic %></td>
        <td><%= link_to 'Show', cc_condition %></td>
        <td><%= link_to 'Edit', edit_cc_condition_path(cc_condition) %></td>
        <td><%= link_to 'Destroy', cc_condition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cc condition', new_cc_condition_path %>
