<p id="notice"><%= notice %></p>

<p>
  <strong>Literal:</strong>
  <%= @cc_condition.literal %>
</p>

<p>
  <strong>Logic:</strong>
  <%= @cc_condition.logic %>
</p>

<%= link_to 'Edit', edit_cc_condition_path(@cc_condition) %> |
<%= link_to 'Back', cc_conditions_path %>
