<h1>New instrument</h1>

<form id="new-instrument" name="instrument">
  <div class="field">
    <label for="agency"> agency:</label>
    <input type="text" name="agency" id="agency" value="<%= agency %>" >
  </div>

  <div class="field">
    <label for="version"> version:</label>
    <input type="text" name="version" id="version" value="<%= version %>" >
  </div>

  <div class="field">
    <label for="prefix"> prefix:</label>
    <input type="text" name="prefix" id="prefix" value="<%= prefix %>" >
  </div>

  <div class="field">
    <label for="label"> label:</label>
    <input type="text" name="label" id="label" value="<%= label %>" >
  </div>

  <div class="field">
    <label for="study"> study:</label>
    <input type="text" name="study" id="study" value="<%= study %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Instrument" />
  </div>

</form>

<a href="#/index">Back</a>
