<p id="notice"><%= notice %></p>

<h1>Listing Cc Statements</h1>

<table>
  <thead>
    <tr>
      <th>Literal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cc_statements.each do |cc_statement| %>
      <tr>
        <td><%= cc_statement.literal %></td>
        <td><%= link_to 'Show', cc_statement %></td>
        <td><%= link_to 'Edit', edit_cc_statement_path(cc_statement) %></td>
        <td><%= link_to 'Destroy', cc_statement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cc statement', new_cc_statement_path %>
