<p id="notice"><%= notice %></p>

<h1>Listing Code Lists</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @code_lists.each do |code_list| %>
      <tr>
        <td><%= code_list.label %></td>
        <td><%= link_to 'Show', code_list %></td>
        <td><%= link_to 'Edit', edit_code_list_path(code_list) %></td>
        <td><%= link_to 'Destroy', code_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Code list', new_code_list_path %>
