<%= form_for(@variable) do |f| %>
  <% if @variable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@variable.errors.count, "error") %> prohibited this variable from being saved:</h2>

      <ul>
      <% @variable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :label %><br>
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :var_type %><br>
    <%= f.text_field :var_type %>
  </div>
  <div class="field">
    <%= f.label :dataset_id %><br>
    <%= f.text_field :dataset_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
