<p id="notice"><%= notice %></p>

<h1>Listing Variables</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Label</th>
      <th>Var type</th>
      <th>Dataset</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @variables.each do |variable| %>
      <tr>
        <td><%= variable.name %></td>
        <td><%= variable.label %></td>
        <td><%= variable.var_type %></td>
        <td><%= variable.dataset %></td>
        <td><%= link_to 'Show', variable %></td>
        <td><%= link_to 'Edit', edit_variable_path(variable) %></td>
        <td><%= link_to 'Destroy', variable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Variable', new_variable_path %>
