<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @variable.name %>
</p>

<p>
  <strong>Label:</strong>
  <%= @variable.label %>
</p>

<p>
  <strong>Var type:</strong>
  <%= @variable.var_type %>
</p>

<p>
  <strong>Dataset:</strong>
  <%= @variable.dataset %>
</p>

<%= link_to 'Edit', edit_variable_path(@variable) %> |
<%= link_to 'Back', variables_path %>
