<p id="notice"><%= notice %></p>

<h1>Listing Instruments</h1>

<table>
  <thead>
    <tr>
      <th>Agency</th>
      <th>Version</th>
      <th>Prefix</th>
      <th>Label</th>
      <th>Study</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instruments.each do |instrument| %>
      <tr>
        <td><%= instrument.agency %></td>
        <td><%= instrument.version %></td>
        <td><%= instrument.prefix %></td>
        <td><%= instrument.label %></td>
        <td><%= instrument.study %></td>
        <td><%= link_to 'Show', instrument %></td>
        <td><%= link_to 'Edit', edit_instrument_path(instrument) %></td>
        <td><%= link_to 'Destroy', instrument, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instrument', new_instrument_path %>
