<p id="notice"><%= notice %></p>

<p>
  <strong>Agency:</strong>
  <%= @instrument.agency %>
</p>

<p>
  <strong>Version:</strong>
  <%= @instrument.version %>
</p>

<p>
  <strong>Prefix:</strong>
  <%= @instrument.prefix %>
</p>

<p>
  <strong>Label:</strong>
  <%= @instrument.label %>
</p>

<p>
  <strong>Study:</strong>
  <%= @instrument.study %>
</p>

<%= link_to 'Edit', edit_instrument_path(@instrument) %> |
<%= link_to 'Back', instruments_path %>
